@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}


.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid red;
}

.loader img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-container {
    margin: 10px 30%;
}


.image-container img {
    width: 100%;
    object-fit: cover;
    margin-top: 20px;
}

/* For Mobile Phone */

@media screen and (max-width: 600px) {
    .image-container {
        margin: 10px 5%;
    }
}